<div class="card container body" id="palette">
  <div class="card-body">
    <%= form_for @palette do |f| %>
      <p>
        <label for="name"><b>Name</b></label><br>
        <%= f.text_field :name %>
        <div class="error text-danger">
          <%= @palette.errors[:name][0] %>
        </div>
      </p>
      <p>
        <label for="selection"><b>Choose Colours</b></label>
        <%= select_tag 'colour_ids', options_for_select(@colours.collect {|a| [a.name, a.id]}, @palette.colours.pluck(:id)), {multiple: true, class: 'select2', id: "selection", required: true} %>
      </p>

      <%= f.submit save_button, class: "btn btn-success" %>
    <% end %>
  </div>
</div>