<div class="nav navbar bg-light">
  <div class="nav navbar-brand"><b>Palettes</b></div>
  <div class="nav">
    <%= link_to 'Colours', colours_path, class: "nav-link nav-item btn btn-danger", style: "margin-right: 10px" %>
    <%= link_to 'New Palette', new_palette_path, class: "nav-link nav-item btn btn-info" %>
  </div>
</div>
<div class = "row body">
  <% @palettes.each do |p| %>
    <span class="col-md-4">
      <div class = "card shadow palette">
        <div class = "card-body row palette-body">
          <% p.colours.each do |colour| %>
            <span class="col-md-3" style="background: <%= colour.hex %>">
            </span>
          <% end %>
        </div>
        <div class="card-footer">
          <%= link_to "#{p.name}", palette_path(id: p.id), style: "color:red" %>
          <%= link_to '', palette_path(id: p.id) ,style: "float: right", class: "btn fa fa-trash", method: :delete %>
        </div>
      </div>
    </span>
  <% end %>
</div>

