<nav class="nav navbar bg-light">
  <div class="nav navbar-brand"><b>Palettes</b></div>
  <div class="nav">
    <%= link_to 'Colours', colours_path, class: "nav-link nav-item btn btn-danger", style: "margin-right: 10px" %>
    <%= link_to 'New Palette', new_palette_path, class: "nav-link nav-item btn btn-info" %>
  </div>
</nav>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="pull-right"><%= page_entries_info @palettes %></div>
<table id = "palettes" class="table container panel panel-default" >
  <% if @palettes.empty? %>
    No Palettes to show
  <% else %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Colours</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @palettes.each do |palette| %>
      <tr>
        <td><%= link_to "#{palette.name}", palette_path(id: palette.id) %></td>
        <td>
          <div id="swatches">
            <% palette.colours.each do |colour| %>
              <span id="swatch" style="background: <%= colour.hex %>">
              </span>
            <% end %>    
          </div>
        </td>
        <td>
          <a href=<%= edit_palette_path(id: palette.id) %> ><i class="fa fa-edit"></i></a>
          <a href=<%= palette_path(id: palette.id) %> data-method="delete"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<div id="pagination">
  <%= paginate @palettes, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm",              nav_class: "d-inline-b" %>
</div>