<h3>Create a new Palette</h3>
<% Palette.initialize_array %>
<div class="card">

<%= link_to 'Create New Colour', new_colour_path %>

</div>

<%= form_for :palette, url: palettes_path do |f| %>
<%= f.text_field :name , placeholder: 'Palette Name' %>
<%= f.submit :create_palette %>
<% end %>


<%= select_tag :select_colour, options_from_collection_for_select(@colours, 'id', 'name'), prompt: "Select Colour" %>