
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link fa fa-home" href="/palettes">Home</a>
    </div>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link fa fa-plus" href="/colours/new">New Colour</a>
    </div>
  </div>
</nav>
<br>

<h3 align="center" class="shadow"><b>Create a new Palette</b></h3>
<div class="card container body" id="palette">
  <div class="card-body">
    <%= form_for :palette, url: palettes_path do |f| %>
      <p>
      <label for="selection"><b>Choose Colours</b></label>
      <%= f.select :colour_ids, @colours.collect {|a| [a.name, a.id]}, {}, class: 'select2', id: "selection", multiple: true %>
      </p>

      <p>
        <b><%= f.label :name, for: :palette_name %></b><br>
        <%= f.text_field :name %><br>
      </p>

      <%= f.submit :create_palette, class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<script>
  $('#selection').select2({
    theme: "bootstrap"
  });
</script>