<div id="colour_view" style="width: 250px; height: 40px; border-color: black; border-width: 5px"></div>

<%= form_for @colour do |f| %>
  <div class="form-group">
    <label for="colour_name">Name:</label>
    <%= f.text_field :name , placeholder: 'Enter colour name', class: 'form-control' %>
    <div class="error text-danger">
      <%= @colour.errors[:name][0] %>
    </div>
  </div>

  <div class="form-group">
    <label for="colour_hex">Code:</label>
    <%= f.text_field :hex , placeholder: '#RRGGBB', class: 'form-control', onkeypress: "showColour()" %>
    <span class="error text-danger">
      <%= @colour.errors[:hex][0] %>
    </span>
  </div>

  <%= f.submit save_button, class: "btn btn-success" %><br>
<% end %>

<script>
  function showColour(){
    var code = $("#colour_hex").val();
    $("#colour_view").css("background",code);
  }
</script>