<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link fa fa-home" href="/palettes">Home</a>
    </div>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link fa fa-plus" href="colours/new">New Colour</a>
      <a class="nav-item nav-link fa fa-plus" href="/palettes/new">New Palette</a>
    </div>
  </div>
</nav>
<br>

<h3 align="center" class="text-secondary"> All Colours </h3>
<br>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="pull-right"><%= page_entries_info @colours %></div>
<table class="container table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    <% @colours.each do |colour| %>
      <tr>
        <td><%= colour.name %></td>
        <td><%= colour.hex %></td>
        <td style="background: <%= colour.hex %>"></td>
        <td align="right"><%= link_to 'Change', edit_colour_path(colour.id) %></td>
        <td align="right"><%= link_to 'Delete', colour_path(colour.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="pagination">
  <%= paginate @colours, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm",              nav_class: "d-inline-b" %>
</div>    